@font-face
	{
	font-family: "mono";
	src : url("mono.ttf");
	}
*	
	{
	font-family: 'mono';
	font-size: 17px;
	font-weight: bold;
	position: fixed;
	outline: none;
	background-color: #000000;
	color: #508000;
	}
::selection
	{
	background-color: #408000;
	color: #50D000;
	}
